<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyojin.myapplication"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="6"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/wiget"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.hyojin.myapplication" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.myGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegisterationIntentService"
            android:exported="false" />
        <service
            android:name=".gcm.myInstanceIDListnerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.Posting.PostListActivity" />
        <activity android:name=".activity.Fragment.MainActivity" />
        <activity android:name=".activity.Posting.SelectMovieActivity" />
        <activity android:name=".activity.Posting.AddMovieActivity" />
        <activity android:name=".activity.Posting.SelectBookActivity" />
        <activity android:name=".activity.Posting.EditContentsActivity" />
        <activity android:name=".activity.Posting.AddBookActivity" />
        <activity android:name=".activity.Posting.SeePostActivity" />
        <activity android:name=".activity.UserpageActivity" />
        <activity android:name=".activity.Userpage2Activity" />

        <activity android:name=".activity.setting.AlramSettingActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="636d720c9ce4f9b53ec989b3173f7782f94c5cb1" />
    </application>

</manifest>
