<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjkwak.pretravel">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.hjkwak.pretravel.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/wiget"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.myapplication" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hjkwak.pretravel.gcm.myGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.hjkwak.pretravel.gcm.RegisterationIntentService"
            android:exported="false" />
        <service
            android:name="com.hjkwak.pretravel.gcm.myInstanceIDListnerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="com.hjkwak.pretravel.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name="com.facebook.FacebookActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <activity
            android:name="com.hjkwak.pretravel.activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.hjkwak.pretravel.activity.Posting.PostListActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.Fragment.MainActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.Posting.SelectMovieActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.Posting.AddMovieActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.Posting.SelectBookActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.Posting.EditContentsActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.Posting.AddBookActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.Posting.SeePostActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.UserpageActivity" />
        <activity android:name="com.hjkwak.pretravel.activity.Userpage2Activity" />

        <activity android:name="com.hjkwak.pretravel.activity.setting.AlramSettingActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="636d720c9ce4f9b53ec989b3173f7782f94c5cb1" />
    </application>

</manifest>
